/*ajustes por pantalla logo,*/

@media (min-width: 320px) {
    .Logo_escritorio{
      display:none;
    }
  }
  
  @media (min-width: 640px) {
    .Logo_escritorio{
      display:none;
    }
  }
  
  @media (min-width: 768px) {
    .Logo_movile{
      display:none;
    }
    .Logo_escritorio{
      display:table-row;
    }
  }
  
  @media (min-width: 1024px) {
    .Logo_movile{
      display:none;
    }
    .Logo_escritorio{
      display:table-row;
    }
  }
  
  @media (min-width: 1280px) {
    .Logo_movile{
      display:none;
    }
    .Logo_escritorio{
      display:table-row;
    }
  }
/*aqui aplico la fuente al body y yso las demás para otros fines*/
body {
    background-color:#E5E5E5;
    font-family: 'Space Grotesk', sans-serif;
}

button:focus {
    outline: none;
}
.amarillo_P{
    color: #FFB500;
}
.celeste_P{
    color: #0069CB;
}
.azul_P{
    color: #003891;
}
.verde_P{
    color: #006726;
}
.rojo_P{
    color: #FF0041;
}
.negro_P{
    color: #000000;
}
.gris_P{
    color: #575757;
}
.blanco_P{
    color: #575757;
}
