/*ajustes por pantalla logo,*/

@media (min-width: 320px) {
    .Logo_escritorio{
      display:none;
    }
  }
  
  @media (min-width: 640px) {
    .Logo_escritorio{
      display:none;
    }
  }
  
  @media (min-width: 768px) {
    .Logo_movile{
      display:none;
    }
    .Logo_escritorio{
      display:table-row;
    }
  }
  
  @media (min-width: 1024px) {
    .Logo_movile{
      display:none;
    }
    .Logo_escritorio{
      display:table-row;
    }
  }
  
  @media (min-width: 1280px) {
    .Logo_movile{
      display:none;
    }
    .Logo_escritorio{
      display:table-row;
    }
  }
/*aqui aplico la fuente al body y yso las demás para otros fines*/
body {
    background-color:#FFFFFF;
    font-family: 'Space Grotesk', sans-serif;
}
.gray_menu{
  background-color: #F5F5F5;
}
.vertical-line{
  border-bottom:solid 1px grey;
  width:100%;
}

button:focus {
    outline: none;
}
.amarillo_P{
    color: #FFB500;
}
.celeste_P{
    color: #0069CB;
}
.azul_P{
    color: #003891;
}
.verde_P{
    color: #006726;
}
.rojo_P{
    color: #FF0041;
}
.negro_P{
    color: #000000;
}
.gris_P{
    color: #575757;
}
.blanco_P{
    color: #575757;
}

.tab {
  overflow: hidden;
  }
  .tab-content {
  max-height: 0;
  transition: all 0.5s;
  }
  input:checked + .tab-label .test {
      background-color: #000;
  }
  input:checked + .tab-label .test svg {
      transform: rotate(180deg);
      stroke: #fff;
  }
  input:checked + .tab-label::after {
  transform: rotate(90deg);
  }
  input:checked ~ .tab-content {
  max-height: 100vh;
  }

/*select home1*/
.dropdown:focus-within .dropdown-menu {
  opacity:1;
  transform: translate(0) scale(1);
  visibility: visible;
}
    

/*slider*/
.snap-x {
  scroll-snap-type: x mandatory;
  
scroll-behavior: smooth;
-webkit-overflow-scrolling: touch;
}
.snap-start {
scroll-snap-align: start;
}

.swiper {
  scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}
.swiper > img {
  scroll-snap-align: start;
}
